:root {
    --text: #140807;
    --textOpac: #140807d5 ;
    --background: #eae5e5;
    --primary: #bf4c49;
    --secondary: #d4d88e;
    --accent: #abd078;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* Estilos de los formularios */
.body_form{
    background: #000000;
    background: linear-gradient(90deg, var(--primary),var(--accent) 100%);
}

.h1_title{
    text-align: center;
    color: white;
    padding: 1rem;
    font-size: 2.2rem;
}

.div_form{
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background);
    border-radius: 10px;
    padding: 4rem;
    gap: 5px;
    font-size: 1rem;
    min-height: 30rem;
    max-height: 30rem;
    position: relative;
    width: 20rem;
}
.form_h2{
    position: absolute;
    top: 20px;
}
label{
    font-size: 1.2rem;
}
.form_input{
    border: none;
    outline: 1px solid var(--textOpac);
    border-radius: 10px;
    height: 2rem;
    padding: 5px;
    text-align: center;
    width: 15rem;
    font-size: 1rem;
}

.form_input:invalid{
    animation: justshake 0.3s forwards;
    border-color: #abd078;
}
@keyframes justshake{
    25% { transform:  translateX(5px);}
    50% { transform:  translateX(-5px);}
    75% { transform:  translateX(5px);}
    100% { transform:  translateX(-5px);}
}
.form_button{
    border: none;
    background-color: var(--accent);
    padding: 10px;
    height: 2.5rem;
    width: 12rem;
    border-radius: 10px;
    margin-top:1rem ;
    font-size: 1rem;
}
.form_button:hover{
    cursor: pointer;
}
.form_a{
    margin-top: .4rem;
    text-align: center;
}


/* Estilos de la pagina admin */

.headerAdm{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    box-shadow: 0px 0px 10px 0px black;
    z-index: 100;
}

.nav_ul{
    display: flex;
    gap: 1rem;
    list-style: none;
    align-items: center;
}
.nav_ul a{
    text-decoration: none;
    color: var(--text);
}
.nav_ul button{
    border: none;
    padding: .4rem;
    border-radius: 10px;
}

.adm{
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.adm_panelAdm{
    width: 90%;
    padding: 1rem;
    background-color: var(--background);
    z-index: -20;
}
.panelAdm_controles{
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    
}
.tarjetaAdm{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    color: white;
    padding: 2rem;
    font-size: .8rem;
    width: 11rem;
    border-radius: 10px;
}
.panelAdm_controles > :nth-child(1){
    background: linear-gradient(90deg,rgba(66, 227, 206, 1) 14%, rgba(54, 37, 161, 1) 92%);
}
.panelAdm_controles > :nth-child(2){
    background: linear-gradient(90deg,rgba(66, 90, 227, 1) 14%, rgba(101, 161, 37, 1) 92%); 

}
.panelAdm_controles > :nth-child(3){
    background: linear-gradient(90deg,rgba(211, 227, 66, 1) 14%, rgba(161, 37, 37, 1) 92%);
}
.panelAdm_controles > :nth-child(4){
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}

.tarjetaAdm button{
    border: none;
    padding: .4rem;
    border-radius: 10px;
}

.adm_controles{
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    box-shadow: 1px 5px 10px 0px black;
}

.panelControl{
    font-size: .9rem;
    margin: 1.5rem;
}